form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
div {
  text-align: center;
}

form.work_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.botton_right {
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #ffcc00;
}