{% extends "base.html" %}

{% block content %}
<h3 align="center">Страничка администратор</h3>
<form class="login_form" method="post">
    <h6 align="center">Загрузить задачу (фото) </h6>
    <input type="file" class="form-control-file" id="photo" name="file_photo" required>
    <input type="text" class="form-control" id="num" aria-describedby="classHelp"
           placeholder="Введите номер задачи" name="num" required>
    <br>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
    <!--    <h6 align="center"> скачать json </h6>-->
    <!--    <button type="submit" class="btn btn-primary" href="/download_file">Скачать</button>-->
    <!--    </body>-->
</form>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Young programmer</span>
    </div>


</footer>
{% endblock %}