{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Мой сайт</a>
</nav>
<h2 align="center">Регистрация</h2>
<form action="" class="login_form" method="post">
    {{ form.hidden_tag() }}
    {{ form.email.label }}<br>
    {{ form.email(class="form-control", type="email") }}<br>
    {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    {{ form.password.label }}<br>
    {{ form.password(class="form-control", type="password") }}<br>
    {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    {{ form.password_again.label }}<br>
    {{ form.password_again(class="form-control", type="password") }}<br>
    {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    {{ form.name.label }}<br>
    {{ form.name(class="form-control") }}<br>
    {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    {{ form.about.label }}<br>
    {{ form.about(class="form-control") }}<br>
    {% for error in form.about.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Young programmer</span>
    </div>


</footer>
{% endblock %}